.main{
    display: flex;
    flex-direction: column;
    background-image: url(../../img/background.svg);
    height: 100vh;
}

.pic{
    display: block;
    position: absolute;
    width: 90%;
    margin: 16px;
}

.action{
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    min-width: 364px;
    bottom: 0;
    padding: 24px 16px;
}

.descript{
    display: flex;
    flex-direction: column;
    gap: 14px;    
}

.title{
    font-weight: 700;
    font-size: 20px;
    color: black;

}

.text{
    font-weight: 400;
    font-size: 14px;
    color: black;

}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.next{
    background-color: #7E46E8;
    color: white;
    border: 1px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 20px;
    height: 55px;
}

.skip{
    height: 55px;
    border-color: #7E46E8;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    border-radius: 20px;
}










