.main{
    width: 100vv;
    height: 100vh;
    background: url('../../img/background.svg');
    background-size:  cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.pic{
    display: block;
    margin: 24px auto;
}