.sector{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}


.choose{
    
    display: block;
    padding: 24px 16px;

}

.choose img{
    width: 160px;
}





