.main{
    display: flex;
    flex-direction: column;
    background-image: url(../../img/background.svg);
    height: 100vh;
    animation: slide_in 0.7s ease-out;
}

@keyframes slide_in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

.pic{
    display: block;
    position: absolute;
    width: 90%;
    margin: 16px;
}

.action{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
    position: absolute;
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    min-width: 364px;
    bottom: 0;
    padding: 18px 14px;
}

.descript{
    display: flex;
    flex-direction: column;
    gap: 14px;    
}

.title{
    font-weight: 700;
    font-size: 20px;
    color: black;

}

.text{
    font-weight: 400;
    font-size: 14px;
    color: black;

}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 14px;

}

.next{
    background-color: #7E46E8;
    color: white;
    border: 1px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 20px;
    height: 55px;
}

.skip{
    height: 55px;
    border-color: #7E46E8;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    border-radius: 20px;
}


@media (min-height: 645px) and (max-height: 1024px) {
    .action{
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        background-color: #fff;
        border-radius: 30px 30px 0 0;
        min-width: 364px;
        bottom: 0;
        padding: 24px 16px;
    }
    
    .descript{
        display: flex;
        flex-direction: column;
        gap: 16px;    
    }
    
    .title{
        font-weight: 700;
        font-size: 22px;
        color: black;
    
    }
    
    .text{
        font-weight: 400;
        font-size: 16px;
        color: black;
    
    }
    .buttons{
        display: flex;
        flex-direction: column;
        gap: 16px;
    
    }

}

